{{ define "main" }}
    {{ partial "profile.html" . }}
    
    <div class="content-tabs">
        <div class="tab active">动态</div>
        <div class="tab">文章</div>
        <div class="tab">照片</div>
        <div class="tab">收藏</div>
    </div>
    
    <div class="posts">
        {{ range where .Site.RegularPages "Type" "posts" }}
        <div class="post">
            <div class="post-header">
                <img src="{{ .Site.Params.avatar }}" alt="头像" class="post-avatar">
                <div>
                    <span class="post-author">{{ .Site.Params.author }}</span>
                    <span class="post-time">{{ .Date.Format "2006-01-02 15:04" }}</span>
                </div>
            </div>
            <div class="post-content">
                {{ .Content }}
            </div>
            {{ with .Params.image }}
            <img src="{{ . }}" alt="帖子图片" class="post-image">
            {{ end }}
            <div class="post-actions">
                <div class="post-action">
                    <i class="far fa-heart"></i>
                    <span>{{ .Params.likes | default 0 }}</span>
                </div>
                <div class="post-action">
                    <i class="far fa-comment"></i>
                    <span>{{ .Params.comments | default 0 }}</span>
                </div>
                <div class="post-action">
                    <i class="far fa-bookmark"></i>
                    <span>收藏</span>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    
    <div class="trending-topics">
        <h3>热门话题</h3>
        {{ range .Site.Params.topics.topics }}
        <div class="topic">#{{ . }}</div>
        {{ end }}
    </div>
{{ end }}